@font-face {
  font-family: 'CeraPro-Regular';
  src: url('../fonts/CeraPro-Regular/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro-Regular/CeraPro-Regular.woff') format('woff'),
  url('../fonts/CeraPro-Regular/CeraPro-Regular.ttf')  format('truetype'),
  url('../fonts/CeraPro-Regular/CeraPro-Regular.svg#CeraPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-Medium';
  src: url('../fonts/CeraPro-Medium/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro-Medium/CeraPro-Medium.woff') format('woff'),
  url('../fonts/CeraPro-Medium/CeraPro-Medium.ttf')  format('truetype'),
  url('../fonts/CeraPro-Medium/CeraPro-Medium.svg#CeraPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro-Bold';
  src: url('../fonts/CeraPro-Bold/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro-Bold/CeraPro-Bold.woff') format('woff'),
  url('../fonts/CeraPro-Bold/CeraPro-Bold.ttf')  format('truetype'),
  url('../fonts/CeraPro-Bold/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}